.header {
    background-color: #ececec; 
    width: 1920px;
    height: 170px;   
}

.conteudo_1 {
    background-image: url("./images/cropped-view-of-women-s-hands-driving-elite-car.png");
    height: 900px;
    width: 1920px;
}

.icon {
    width: 129px;
    height: 120px;
    float: left;
    padding-left: 50px;
    padding-top: 20px;
}

.link {
    text-decoration: none;
    font-family: Roboto;
    font-size: 20pt;
    color: black;
}

.h1 {
    font-family: Roboto;
    font-size: 60px;
    color: white;
}


#menu{
    list-style: none;
    float:right;
    padding-right: 120px;
    padding-top: 50px;
}

#menu li{
    display: inline;
    padding: 5px 10px;
    border-left: solid 3px #2c4b95;
}
#menu li:first-child{
    border-left: none;
}


@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
  }

  